.button {
  padding: 0.44em 1.9em;

  font-size: 16px;
  line-height: 22px;
  font-weight: 600;

  border: none;
  background: none;
  border-radius: 6px;

  &--white {
    color: $color-midnight-express;
    background-color: $color-default-white;
  }

  &--dark {
    color: $color-turquoise-blue;
    background-color: $color-midnight-express;

    transition: color $trans-default, background-color $trans-default ;

    &:hover,
    &:focus {
      color: $color-midnight-express;
      background-color: $color-default-white;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
