.main-nav {
  background-color: $color-midnight-express;
  flex-shrink: 0;
  flex-grow: 1;

  width: 100%;
  max-width: 241px;

  // height: 1px;
  min-height: 100vh;

  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 241px;

    // height: 1px;
    // min-height: 100vh;

    padding-top: 31px;
    padding-left: 16px;
    padding-right: 10px;

    position: fixed;
    top: 0;
    left: 0;
  }

  &__user-nav {
    display: flex;
    flex-direction: column;

    margin-bottom: 5.3em;

    & .main-nav__link {
      &:not(:last-of-type) {
        margin-bottom: 1.8em;
      }

      &--active {
        font-weight: 600;
        color: $color-turquoise-blue;

        & .main-nav__icon svg {
          fill: $color-turquoise-blue;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    margin: 0;

    padding: 0;

    list-style: none;

    & .main-nav__link--active {
      padding-left: 6px;
      padding-top: 9px;
      padding-bottom: 9px;

      margin-top: -9px;
      margin-bottom: -9px;
      margin-left: -6px;

      color: $color-midnight-express;
      background: $torquoise-radial;
      border-radius: 10px;

      pointer-events: none;

      & svg {
        fill: $color-midnight-express;
      }
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 1.3em;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 19px;
    color: $color-default-white;

    display: flex;
    align-items: center;

    transition: color $trans-default;

    &:hover,
    &:focus {
      color: $color-turquoise-blue;
    }

    &:hover .main-nav__icon svg,
    &:focus .main-nav__icon svg {
      fill: $color-turquoise-blue;
    }

    &:active {
      opacity: 0.7;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS */
      transition: none;
    }
  }

  &__icon {
    width: 31px;
    flex-shrink: 0;

    & svg {
      fill: $color-default-white;

      transition: fill $trans-default;
    }
  }
}

