.screen-header {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  width: 100%;

  &__title-wrapper {
    margin-right: auto;
    align-items: flex-end;
  }

  &__title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;

    color: $color-default-white;

    padding: 0;
  }

  &__new {
    font-size: 16px;
    line-height: 22px;
    color: $color-turquoise-blue;

    margin-left: 1.1em;
  }

  &__button {
    margin-left: auto;
    margin-right: 1.5em;
  }

  &__button-icon {
    font-size: 0;

    display: flex;
    flex-grow: 0;

    transition: opacity $trans-default;

    &:not(:last-of-type) {
      margin-right: 23px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
