.screen-header {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  width: 100%;

  &__title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;

    color: $color-default-white;

    margin: 0;
    margin-right: auto;

    padding: 0;
  }

  &__button-icon {
    font-size: 0;

    display: flex;
    flex-grow: 0;

    transition: opacity $trans-default;

    &:not(:last-of-type) {
      margin-right: 23px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
