.screen-header {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  width: 100%;

  &__title-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-right: auto;
  }

  &__title {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;

    color: $color-default-white;

    padding: 0;
    margin-right: 0.75rem;

    @include vp-949 {
      margin-right: 0.4em;
    }
  }

  &__new {
    font-size: 16px;
    line-height: 22px;
    color: $color-turquoise-blue;

    @include vp-949 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__search-wrapper {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;

    width: 100%;
    max-width: 465px;
    height: 100%;

    position: relative;

    & input {
      width: 100%;
      height: 100%;

      padding-top: 8px;
      padding-right: 25px;
      padding-bottom: 9px;
      padding-left: 16px;

      font-size: 14px;
      line-height: 19px;
      font-weight: 300;
      color: $color-silver;

      background: none;
      background-color: $color-blue-zodiac;

      border: none;
      border-radius: 5px;
    }

    & svg {
      position: absolute;
      top: 8px;
      right: 13px;
    }
  }

  &__button {
    margin-left: 25px;

    @include vp-949 {
      font-size: 14px;
    }
  }

  &__button-icon-wrapper {
    display: flex;
    margin-left: 23px;
    align-items: center;
    justify-content: flex-end;
  }

  &__button-icon {
    font-size: 0;

    display: flex;
    flex-grow: 0;

    transition: opacity $trans-default;

    &:not(:last-of-type) {
      margin-right: 23px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &--button {
    .screen-header__title-wrapper {
      @include vp-949 {
        flex-direction: column;
        align-items: flex-start;
      }

      @include vp-767 {
        grid-column: 1;
        grid-row: 1;
      }
    }

    .screen-header__button-icon-wrapper {
      @include vp-767 {
        grid-column: 2;
        grid-row: 1;
        align-self: start;
      }
    }

    .screen-header__button {
      @include vp-767 {
        grid-column: 1 / -1;
        grid-row: 3;
        margin-left: auto;
      }

      @include vp-424 {
        margin-left: 0;
      }
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-auto-rows: auto 0.75em auto;
    }
  }
}
