.widget-chart {
  &__heading-wrapper {
    align-items: flex-end;
  }

  &__star {
    margin-left: 1em;
  }

  &__content-wrapper {
    margin-bottom: -20px;

    & img {
      width: 312px;
      height: 270px;

      margin-top: -3.1em;
      margin-left: auto;
      margin-right: -0.8em;
    }
  }

  &__company {
    margin-top: 1.2em;
    margin-bottom: 1.4em;
  }

  &__list-item {
    padding-left: 2.1em;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1.4em;
    }

    &::before {
      content: "";

      display: block;

      width: 14px;
      height: 14px;

      position: absolute;

      top: 0.2em;
      left: 0;

      border-radius: 5px;
    }

    &:nth-of-type(1)::before {
      background: $blue-to-right;
    }
  }

  &__legend {
    margin-bottom: 0.7em;
  }

  &__link {
    margin-top: auto;
    margin-bottom: 1.8em;
  }
}
