.widget-report {
  order: 4;

  &__content-wrapper {
    display: flex;

    height: 100%;
    padding-top: 0.6em;

    @include vp-767 {
      flex-direction: column;
    }

    & table {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;

      width: 100%;
      max-width: 374px;

      margin-left: -0.8em;
      margin-right: 1rem;

      text-align: left;
      vertical-align: middle;

      border-collapse: collapse;

      @include vp-1023 {
        max-width: 70%;
      }

      @include vp-767 {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
      }

      & th {
        height: 39px;
        font-weight: 400;
        padding-left: 0.8em;
        text-align: left;
      }

      & tr {
        & td {
          height: 39px;
          padding-left: 0.8em;

          border: 1px solid $color-midnight-express;

          @include vp-424 {
            font-size: 12px;
          }
        }

        & td:first-child {
          border-left: none;
        }

        & td:last-child {
          border-right: none;
        }

        &:last-child td {
          border-bottom: none;
        }
      }
    }

    & img {
      width: 167px;
      height: 184px;

      margin-top: -2.1em;
      margin-right: 1.6em;
      margin-left: auto;

      @include vp-767 {
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
