.widget-weather {
  order: 3;

  &__row {
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 0.7em;
    }

    @include vp-1023 {
      justify-content: space-between;
    }
  }

  &__date {
    margin-bottom: 1.4em;
    margin-right: 2.8em;

    @include vp-767 {
      margin-right: 0;
    }
  }

  &__temp {
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    letter-spacing: -0.05em;

    display: flex;

    & span {
      font-size: 36px;
      line-height: 49px;

      padding-top: 0.4em;
      padding-left: 0.1em;
    }
  }

  &__pressure {
    margin-right: 5em;

    & span:not(:last-child) {
      margin-bottom: 0.3em;
    }

    @include vp-767 {
      margin-right: 0;
    }
  }

  &__condition {
    & span:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
}
