.widget-chart {
  order: 7;

  &__heading-wrapper {
    align-items: flex-end;
  }

  &__star {
    margin-left: 1em;
  }

  &__content-wrapper {
    display: flex;

    margin-bottom: -20px;

    & img {
      width: 312px;
      height: 270px;

      margin-top: -3.1em;
      margin-left: auto;
      margin-right: -0.8em;

      @include vp-1199 {
        width: 65%;
        height: auto;
      }

      @include vp-949 {
        order: -1;
        width: auto;
        margin-right: 0;
        margin-left: 0;
        margin-top: -2.1em;
      }
    }

    @include vp-949 {
      flex-direction: column;
    }
  }

  &__legend-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__company {
    margin-top: 1.2em;
    margin-bottom: 1.4em;
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__list-item {
    padding-left: 2.1em;
    position: relative;

    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 1.4em;
    }

    &::before {
      content: "";

      display: block;

      width: 14px;
      height: 14px;

      position: absolute;

      top: 0.2em;
      left: 0;

      border-radius: 5px;
    }

    &:nth-of-type(1)::before {
      background: $blue-to-right;
    }
  }

  &__legend {
    margin-bottom: 0.7em;
  }

  &__link {
    margin-top: auto;
    margin-bottom: 1.8em;
  }
}
