.widget {
  display: flex;
  flex-grow: 1;

  width: 100%;
  min-height: 230px;

  background-color: $color-gulf-blue;
  box-shadow: $bs-widget-default;
  border-radius: 18px;

  color: $color-default-white;

  &--sm {
    max-width: 340px;
  }

  &--m {
    max-width: 525px;
  }

  &--lg {
    max-width: 710px;
  }

  &__wrapper {
    width: 100%;

    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
