.widget-report {
  &__content-wrapper {
    height: 100%;
    padding-top: 0.6em;

    & table {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;

      width: 100%;
      max-width: 374px;

      margin-left: -0.8em;
      margin-right: 1rem;

      text-align: left;
      vertical-align: middle;

      border-collapse: collapse;

      & th {
        height: 39px;
        font-weight: 400;
        padding-left: 0.8em;
        text-align: left;
      }

      & tr {
        & td {
          height: 39px;
          padding-left: 0.8em;

          border: 1px solid $color-midnight-express;
        }

        & td:first-child {
          border-left: none;
        }

        & td:last-child {
          border-right: none;
        }

        &:last-child td {
          border-bottom: none;
        }
      }
    }

    & img {
      width: 167px;
      height: 184px;

      margin-left: auto;
      margin-top: -2.1em;
      margin-right: 1.6em;
    }
  }
}
