.widget-pie-chart {
  order: 6;

  &__heading-wrapper {
    align-items: center;

    & h3 {
      margin-right: 2rem;
    }
  }

  &__filter {
    display: flex;
    align-items: center;

    font-weight: 600;

    margin-left: auto;
    margin-right: 0.7em;

    padding-bottom: 3px;

    white-space: nowrap;

    cursor: pointer;
    transition: opacity $trans-default;

    & svg {
      margin-left: 0.7em;
      fill: $color-turquoise-blue;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__content-wrapper {
    display: flex;
    margin-top: 0.5rem;

    & img {
      margin-left: auto;
      margin-right: 3.3em;

      @include vp-1023 {
        margin-right: 0;
      }

      @include vp-949 {
        order: -1;
        align-self: center;
        margin-top: auto;
        margin-right: auto;
      }
    }

    @include vp-949 {
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &__list {
    margin-top: 1.4em;

    @include vp-949 {
      display: flex;
      flex-wrap: wrap;

      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__list-item {
    padding-left: 2.1em;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1.4em;

      @include vp-949 {
        margin-right: 1rem;
      }
    }

    &::before {
      content: "";

      display: block;

      width: 14px;
      height: 14px;

      position: absolute;

      top: 0.2em;
      left: 0;

      border-radius: 5px;
    }

    &:nth-of-type(1)::before {
      background: $blue-to-right;
    }

    &:nth-of-type(2)::before {
      background: $violet-to-right;
    }
  }

  &__legend {
    margin-bottom: 0.7em;
  }
}
