.wrapper {
  position: relative;

  display: grid;
  grid-template-columns: 241px 1fr;

  min-height: 100vh;
  /* stylelint-disable-next-line */
  // min-height: calc(100 * var(--vh, 1vh));

  main {
    flex-grow: 1;

    grid-column-start: 2;
    grid-column-end: 2;
  }

  @include vp-1439 {
    grid-template-columns: 47px 1fr;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.text {
  font-size: 14px;
  line-height: 19px;

  margin: 0;

  &--second {
    color: $color-mischka;
  }

  &--accent {
    color: $color-turquoise-blue;
  }

  &--bold {
    font-weight: 700;
  }

  &--h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  &--notification {
    font-weight: 300;
    color: $color-wewak;
  }

  &--small {
    font-size: 12px;
    line-height: 16px;
  }
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin-reset {
  margin: 0;
}

.hover-opacity {
  transition: opacity $trans-default;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
