// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-turquoise-blue:              #43e8ff;
$color-midnight-express:            #1f2339; // фон навигации
$color-gulf-blue:                   #383e57; // фон виджетов
$color-east-bay:                    #4d5474; // фон основной
$color-blue-zodiac:                 #3e4459; // фон инпутов
$color-mischka:                     #a1a6be; // цвет текста

// Gradient

$blue-to-right:                     linear-gradient(141.65deg, #43e9ff 22.09%, #00abab 67.48%), #646981;
$violet-to-right:                   linear-gradient(124.04deg, rgba(182, 26, 255, 0.5) -6.27%, rgba(0, 26, 255, 0.5) 98.36%), #656cff;
$torquoise-radial:                  radial-gradient(133.33% 2508.35% at -4.59% -10%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%), #43e8ff; // активные ссылки навигации

// Shadow

$bs-widget-default:                 7px 7px 8px rgba(0, 0, 0, 0.15);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-open-sans:                      "Open Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
